In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
movies = pd.read_csv(os.path.join('RawData', 'tmdb_5000_movies.csv'))
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
df_movies = movies[['id','budget','revenue','popularity','original_title','overview']]

In [4]:
df_movies.head()

,id,budget,revenue,popularity,original_title,overview
0,19995,237000000,2787965087,150.437577,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,300000000,961000000,139.082615,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,245000000,880674609,107.376788,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,250000000,1084939099,112.312950,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,260000000,284139100,43.926995,John Carter,"John Carter is a war-weary, former military ca..."

In [50]:
df_movies.to_csv('Output/df_movies_original_dataframe.csv')

In [5]:
#Cleaning empty rows
df_movies[pd.isnull(df_movies["overview"])]

,id,budget,revenue,popularity,original_title,overview
2656,370980,15000000,0,0.738646,Chiamatemi Francesco - Il Papa della gente,NaN
4140,459488,2,0,0.050625,"To Be Frank, Sinatra at 100",NaN
4431,292539,913000,0,0.795698,Food Chains,NaN

In [6]:
#Cleaning empty rows
df_movies[pd.isnull(df_movies["overview"])] = ""
# Remember to remove these rows entirely if they dont have revenue
df_movies["revenue"][df_movies["revenue"] == ''] = 0

c:\anaconda\envs\pydata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\anaconda\envs\pydata\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
c:\anaconda\envs\pydata\lib\site-packages\pandas\core\generic.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
c:\anaconda\envs\pydata\lib\site-packages\IPython\core\interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


x_train,x_test, y_train,y_test = train_test_split(df_movies,df_movies["revenue"], test_size=0.2)

In [8]:
x_train_df=x_train.reset_index()
x_train_df.head()
y_train_df=y_train.reset_index()
y_train_df.head()

   index    revenue
0    927          0
1     91  389681935
2   3360   16829545
3   2101  113086475
4   1336   95404397

In [9]:
x_test_df=x_test.reset_index()
x_test_df.head()
y_test_df=y_test.reset_index()
y_test_df.head()

   index    revenue
0   3696  254700832
1   2884   19271312
2   1723  100654149
3      2  880674609
4   4152          0

# Text Preparation: Remove stop words

In [10]:
#Remove stop words
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
import re

In [12]:
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]"')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def text_prepare(text):
    """
        text: a string
        
        return: modified initial string
    """
    
    text = text.lower()
    text = re.sub(REPLACE_BY_SPACE_RE," ",text)
    text = re.sub(BAD_SYMBOLS_RE,"",text)
    text = ' '.join([word for word in text.split() if word not in STOPWORDS])
    
    return text

In [13]:
#Testing function
text_prepare("Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems")

'captain barbossa long believed dead come back life headed edge earth turner elizabeth swann nothing quite seems'

In [14]:
ls_train = [text_prepare(x) for x in x_train_df['overview']]
ls_test = [text_prepare(x) for x in x_test_df['overview']]

In [15]:
#Join dataframe with a new column: Overview without stop words
x_train_df['overview_sw']=ls_train
x_test_df['overview_sw']=ls_test

In [16]:
x_train_df.head()
x_test_df.head()

,index,id,budget,revenue,popularity,original_title,overview,overview_sw
0,3696,712,6000000,254700832,29.8341,Four Weddings and a Funeral,Four Weddings And A Funeral is a British comed...,four weddings funeral british comedy british m...
1,2884,844,12000000,19271312,12.6648,2046,2046 is the sequel to Wong Kar-Wais’ successfu...,2046 sequel wong karwais successful boxoffice ...
2,1723,218778,28000000,100654149,22.1459,"Alexander and the Terrible, Horrible, No Good,...",Alexander's day begins with gum stuck in his h...,alexanders day begins gum stuck hair followed ...
3,2,206647,245000000,880674609,107.377,Spectre,A cryptic message from Bond’s past sends him o...,cryptic message bonds past sends trail uncover...
4,4152,153795,7000000,0,4.50829,Straight A's,Pressured by his deceased mother's ghost to re...,pressured deceased mothers ghost return home f...

# Tokenize, Vectorize and TF-IDF

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

vec_train = TfidfVectorizer(max_features=1000)
vec_train.fit(x_train_df["overview_sw"])
transformed_train = vec_train.transform(x_train_df["overview_sw"])
text_features_train = pd.DataFrame(transformed_train.todense())
text_features_train.columns = vec_train.get_feature_names()

In [18]:
vec_test = TfidfVectorizer(max_features=1000)
vec_test.fit(x_test_df["overview_sw"])
transformed_test = vec_test.transform(x_test_df["overview_sw"])
text_features_test = pd.DataFrame(transformed_test.todense())
text_features_test.columns = vec_test.get_feature_names()

In [19]:
transformed_train.shape

(3842, 1000)

In [20]:
transformed_test.shape

(961, 1000)

In [21]:
x_test_df.head()

,index,id,budget,revenue,popularity,original_title,overview,overview_sw
0,3696,712,6000000,254700832,29.8341,Four Weddings and a Funeral,Four Weddings And A Funeral is a British comed...,four weddings funeral british comedy british m...
1,2884,844,12000000,19271312,12.6648,2046,2046 is the sequel to Wong Kar-Wais’ successfu...,2046 sequel wong karwais successful boxoffice ...
2,1723,218778,28000000,100654149,22.1459,"Alexander and the Terrible, Horrible, No Good,...",Alexander's day begins with gum stuck in his h...,alexanders day begins gum stuck hair followed ...
3,2,206647,245000000,880674609,107.377,Spectre,A cryptic message from Bond’s past sends him o...,cryptic message bonds past sends trail uncover...
4,4152,153795,7000000,0,4.50829,Straight A's,Pressured by his deceased mother's ghost to re...,pressured deceased mothers ghost return home f...

In [22]:
text_features_train.head()

,10,abandoned,ability,able,accident,accidentally,across,act,action,actor,...,would,writer,written,wrong,year,years,yet,york,young,younger
0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.00000,0.23515,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.19341,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
text_features_test.head()

,abandoned,academy,accident,accidentally,ace,across,actor,actually,adaptation,adult,...,wounded,writer,wrong,year,years,yet,york,young,younger,youth
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.490247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
#Testing vectorizer
text_features_train.loc[:, "assassin"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
       ...
3812    0.0
3813    0.0
3814    0.0
3815    0.0
3816    0.0
3817    0.0
3818    0.0
3819    0.0
3820    0.0
3821    0.0
3822    0.0
3823    0.0
3824    0.0
3825    0.0
3826    0.0
3827    0.0
3828    0.0
3829    0.0
3830    0.0
3831    0.0
3832    0.0
3833    0.0
3834    0.0
3835    0.0
3836    0.0
3837    0.0
3838    0.0
3839    0.0
3840    0.0
3841    0.0
Name: assassin, Length: 3842, dtype: float64

In [25]:
#Final dataframe with vectorized words
final_train_df=pd.concat([x_train_df, text_features_train], axis=1)
final_test_df=pd.concat([x_test_df, text_features_test], axis=1)

In [26]:
final_train_df.head()

,index,id,budget,revenue,popularity,original_title,overview,overview_sw,10,abandoned,...,would,writer,written,wrong,year,years,yet,york,young,younger
0,927,13673,60000000,0,9.22517,Christmas with the Kranks,Luther Krank is fed up with the commerciality ...,luther krank fed commerciality christmas decid...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,91,47933,165000000,389681935,48.7757,Independence Day: Resurgence,We always knew they were coming back. Using re...,always knew coming back using recovered alien ...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3360,2662,7000000,16829545,19.3014,House of 1000 Corpses,Two teenage couples traveling across the backw...,two teenage couples traveling across backwoods...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2101,12153,37000000,113086475,28.703,White Chicks,"Two FBI agent brothers, Marcus and Kevin Copel...",two fbi agent brothers marcus kevin copeland a...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1336,62837,37000000,95404397,6.63839,Dolphin Tale,A story centered on the friendship between a b...,story centered friendship boy dolphin whose ta...,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
final_test_df.head()

,index,id,budget,revenue,popularity,original_title,overview,overview_sw,abandoned,academy,...,wounded,writer,wrong,year,years,yet,york,young,younger,youth
0,3696,712,6000000,254700832,29.8341,Four Weddings and a Funeral,Four Weddings And A Funeral is a British comed...,four weddings funeral british comedy british m...,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2884,844,12000000,19271312,12.6648,2046,2046 is the sequel to Wong Kar-Wais’ successfu...,2046 sequel wong karwais successful boxoffice ...,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1723,218778,28000000,100654149,22.1459,"Alexander and the Terrible, Horrible, No Good,...",Alexander's day begins with gum stuck in his h...,alexanders day begins gum stuck hair followed ...,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,206647,245000000,880674609,107.377,Spectre,A cryptic message from Bond’s past sends him o...,cryptic message bonds past sends trail uncover...,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4152,153795,7000000,0,4.50829,Straight A's,Pressured by his deceased mother's ghost to re...,pressured deceased mothers ghost return home f...,0.490247,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
final_train_df.to_csv('Output/NLP_train_results.csv')
final_test_df.to_csv('Output/NLP_test_results.csv')

In [29]:
from sklearn.ensemble import RandomForestRegressor

# This is to run predictions
clf = RandomForestRegressor()
#clf.fit(text_features[:1000], train_df["revenue"].values[:1000])
clf.fit(text_features_train, y_train_df["revenue"])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [35]:
pd.Series(clf.feature_importances_, index=text_features_train.columns).sort_values(ascending=False).to_csv('Output/most_correlated_words.csv')

In [31]:
from sklearn.metrics import mean_squared_error

predictions = clf.predict(text_features_test.values).tolist()
#MSE = mean_squared_error(y_test_scaled, predictions)
#print(f"MSE: {MSE}, R2: {r2}")

In [32]:
predictions

[192057298.3,
 8755445.5,
 51254157.2,
 64746004.0,
 65827681.6,
 74935761.0,
 629218.5,
 125656547.9,
 64756291.5,
 37967040.98571429,
 64996636.6,
 73749375.5857143,
 17268118.8,
 63746800.6,
 49116694.48571429,
 116875975.5,
 34132637.3,
 282508010.9,
 162272887.3,
 25339603.5,
 65115237.8,
 58349456.6,
 19037462.4,
 268509905.9,
 63089705.8,
 36260076.7,
 64078224.3,
 168148561.7,
 49594636.3,
 45995321.68571429,
 44865366.2,
 7510224.1,
 16394587.5,
 71420887.4,
 343445317.4,
 25413607.766666666,
 28594598.5,
 16502569.5,
 98921733.4,
 61904214.9,
 27446634.6,
 46635096.7,
 34236367.7,
 48264749.6,
 82085692.35238096,
 105549184.5,
 12739915.485714287,
 175073884.2,
 33339149.9,
 45495511.5,
 23861411.6,
 10719231.2,
 97946559.0,
 59997588.485714294,
 31628073.7,
 19830423.052380953,
 18998043.766666666,
 30510702.4,
 222392163.4,
 40036217.7,
 40519647.7,
 12188706.9,
 9391962.2,
 28009427.5,
 45935833.7,
 65974016.7,
 26750186.0,
 16894836.8,
 31968209.7,
 40469454.0,
 16936149.9,
 65020443.0,
 26975081.4,
 78540130.3,
 12059742.1,
 17944636.7,
 28602935.9,
 19032846.985714287,
 9623326.6,
 19978371.9,
 17752584.185714286,
 23220486.385714285,
 80994143.2,
 136860960.5,
 318433512.4,
 62504907.4,
 26985985.0,
 44329513.5,
 142126367.5,
 75781286.2,
 38807862.1,
 57034302.6,
 59697374.3,
 16207266.0,
 61004661.4,
 42985470.885714285,
 39048027.2,
 20979266.7,
 7603482.8,
 46748987.5,
 68298805.2,
 61530074.9,
 60823209.3,
 126939172.4,
 34908140.0,
 132497764.9,
 50385262.3,
 58311166.1,
 73200222.6,
 175927738.4,
 42632613.58571429,
 31411175.1,
 10457461.785714287,
 42603155.6,
 5232151.866666666,
 105273446.4,
 41946844.5,
 129197888.5,
 166480069.7,
 91125577.8,
 96273961.4,
 38979472.0,
 84905316.9,
 125528593.4,
 37935616.5,
 92590476.0,
 203361966.8,
 261782019.0,
 55419555.7,
 33669192.9,
 47675103.9,
 5478042.466666667,
 89642809.1,
 111699334.9,
 74962535.7,
 25268531.0,
 51972982.0,
 55171379.3,
 69637226.5,
 73655773.5,
 40595061.2,
 50677437.8,
 60453171.0,
 18212906.3,
 43087118.2,
 41757422.7,
 9203299.2,
 108383367.2,
 35542825.3,
 61369826.2,
 44273900.2,
 74343250.0,
 86667390.0,
 40220336.1,
 174725227.6,
 132233834.3,
 19397739.4,
 18417125.2,
 126399912.8,
 35702727.4,
 36081474.86666667,
 26973784.4,
 44175213.385714285,
 65876702.4,
 71970984.9,
 60173673.1,
 64944731.56666666,
 63054547.9,
 475879298.5,
 77963672.3,
 26173743.9,
 53114243.1,
 10400905.7,
 51910734.266666666,
 33796449.1,
 84191286.0,
 62877555.6,
 29534882.2,
 139926911.7,
 0.0,
 42542829.0,
 56979596.3,
 49046741.5,
 67582884.6,
 30441016.3,
 65586032.5,
 19142609.9,
 21161942.0,
 32895409.6,
 108214339.7,
 16835318.0,
 18022153.4,
 60447268.9,
 99549999.0,
 53369345.2,
 50632001.6,
 41581450.3,
 78281421.8,
 144278052.7,
 118002760.56666668,
 92308465.0,
 63814982.6,
 58200553.1,
 155339667.8,
 6255536.1,
 15428736.8,
 166082806.1,
 38068524.2,
 108177319.2,
 31336899.4,
 32084925.7,
 48183776.8,
 104903173.4,
 64600179.5,
 48320971.8,
 61296577.7,
 42090962.1,
 1902098.4,
 2083953.3523809523,
 46962990.4,
 82823209.5,
 26733244.4,
 88537037.0,
 181278283.0,
 1269314.6,
 48657082.6,
 111089463.6,
 80091942.5,
 40444153.9,
 37772084.0,
 121298055.2,
 65782575.0,
 35683657.1,
 16150996.5,
 34961464.1,
 23131587.4,
 24335161.6,
 56631799.7,
 68043178.7,
 11658075.4,
 12795245.7,
 162925003.5,
 29373854.8,
 37245233.6,
 17414803.285714287,
 14458129.766666666,
 96963354.5,
 48545207.9,
 113484244.7,
 18636403.4,
 78998904.4,
 15227658.666666666,
 53891638.1,
 30509922.4,
 4957087.7,
 69147301.5,
 35557128.7,
 68833041.5,
 106486833.5,
 51208074.4,
 21882983.0,
 51127609.2,
 58501495.0,
 63762374.2,
 35656118.9,
 46805439.4,
 54606521.0,
 67292631.4,
 55501966.4,
 25803921.7,
 138967879.1,
 19042439.3,
 122906946.0,
 39913476.6,
 105915726.8,
 40987937.8,
 79132030.0,
 75746941.3,
 26627745.3,
 43621446.6,
 1158979719.2,
 42583691.48571429,
 2791504.285714286,
 34751047.0,
 21138961.966666665,
 149570765.4,
 13327613.2,
 155199518.4,
 59940309.7,
 17631597.8,
 35486856.7,
 27227640.6,
 13914007.26666667,
 32032700.0,
 164106803.1,
 57224528.0,
 76457373.4,
 10949286.1,
 104130001.2,
 41562472.4,
 312907410.1,
 8359341.9,
 11980105.6,
 38929352.3,
 84483220.8,
 42318339.5,
 33177226.1,
 53362769.1,
 28805153.7,
 70273769.9,
 20344494.166666664,
 86805722.3,
 25158755.3,
 58785889.38571429,
 64605551.6,
 18294112.9,
 136446213.1,
 34298856.1,
 58318494.7,
 29082441.685714286,
 61001302.5,
 95874107.3,
 33543003.9,
 71511584.98571429,
 17799733.885714285,
 48183857.0,
 84469463.3,
 49929012.3,
 25055981.2,
 106547921.1,
 30516000.1,
 32912277.5,
 90526056.8,
 72675416.2,
 6291833.9,
 47567957.0,
 50969628.3,
 86119069.2,
 72047394.1,
 100912329.3,
 30159113.085714288,
 165301471.4,
 59011439.3,
 76119537.2,
 51725079.46666667,
 330641763.7,
 116594741.1,
 56157008.3,
 63813524.5,
 44027519.0,
 90642290.5,
 39780848.4,
 34914449.7,
 9836199.666666668,
 91141840.2,
 35619962.48571429,
 2083953.3523809523,
 4933139.0,
 164500028.8,
 79625457.06666666,
 146786230.5,
 14405156.352380956,
 142380951.9,
 48572369.18571429,
 144650669.4,
 34887122.2,
 115212705.4,
 68509455.8,
 16864489.1,
 41812231.1,
 8942449.5,
 37773655.8,
 35067170.6,
 27470259.185714286,
 53247157.9,
 105776045.5857143,
 266807400.1,
 48641228.86666666,
 19056351.7,
 25937840.1,
 27678443.5,
 129406429.9,
 14137989.1,
 48965610.9,
 66925153.2,
 34759799.1,
 38193232.28571428,
 12341097.9,
 41016150.1,
 15102639.785714287,
 4926364.2,
 128944548.1,
 147496425.3,
 75058654.0,
 89954329.88571429,
 51209761.1,
 20904040.852380954,
 30874192.7,
 40468518.2,
 49647317.4,
 1200707.0,
 90951156.2,
 50843008.6,
 233502265.9,
 61442127.4,
 17959993.4,
 48257593.3,
 12757927.4,
 17638906.5,
 44883244.9,
 97826741.1,
 164805146.5,
 41585184.7,
 69925063.1,
 65982164.68571429,
 17237064.666666664,
 62116062.5,
 65254248.4,
 41041366.9,
 34929128.4,
 160404857.0,
 124341003.1,
 112115683.9,
 63543099.88571429,
 181844428.4,
 124222532.1,
 62286196.7,
 47055765.5,
 118605217.4,
 103662270.6,
 68581627.3,
 38813056.0,
 34683026.2,
 42089951.6,
 156843239.7,
 33249800.56666667,
 36219157.6,
 24820795.0,
 52156781.2,
 83442542.4,
 58657749.1,
 69648050.6,
 42509213.18571429,
 56861209.8,
 217812449.5,
 7214023.4,
 47196247.6,
 22533754.3,
 32288065.3,
 103709390.8,
 41451653.06666667,
 23170407.085714288,
 113096505.5,
 89470239.8,
 52912485.4,
 39741527.2,
 85059229.9,
 43444422.18571429,
 41472004.8,
 46066621.0,
 78020075.6,
 51124685.48571429,
 52952048.46666667,
 65516578.1,
 63907380.6,
 49273314.2,
 62000059.4,
 38270987.5,
 104833073.1,
 63309281.2,
 128062432.5,
 50166209.6,
 12156352.9,
 98417658.8,
 14870819.985714287,
 35619811.7,
 67345252.8,
 18058429.1,
 80580508.2,
 129483030.2,
 55475774.4,
 23544315.2,
 64332576.1,
 50348792.5,
 29542433.0,
 21774478.4,
 41412842.2,
 62851319.4,
 35687677.9,
 54242787.466666676,
 237726451.1,
 106840958.6,
 60977898.5,
 67974773.1,
 29706071.785714287,
 6522174.3,
 68066921.5,
 27140221.5,
 20080250.1,
 26422733.0,
 12854386.8,
 51084950.8,
 38271692.385714285,
 73313991.0,
 21051909.585714288,
 226937493.7,
 102716272.0,
 49892986.9,
 54544070.1,
 37989990.266666666,
 17562991.0,
 56447700.7,
 102398608.0,
 9657388.1,
 40055821.6,
 96320915.6,
 128326643.2,
 76390083.3,
 120521971.1,
 36729708.2,
 68295699.7,
 41596100.2,
 19554365.5,
 9760696.8,
 53096923.6,
 30363468.0,
 63344701.2,
 103430047.1,
 56870024.46666666,
 49963714.0,
 40851000.9,
 272558762.6,
 71165896.2,
 45403146.75238095,
 18094403.6,
 30044577.6,
 3583229.2523809522,
 63195116.2,
 112780584.1,
 1571234810.1,
 49005503.58571429,
 141484092.4,
 12741209.4,
 122669820.2,
 44474292.2,
 16602624.8,
 43274818.7,
 155382794.7,
 9081555.8,
 27215755.9,
 155546032.5,
 82424851.9,
 31259366.3,
 46986247.6,
 89418340.5,
 26861219.3,
 59033197.78571429,
 155207700.7,
 64060552.9,
 22605154.6,
 42375697.0,
 32874126.0,
 54985035.6,
 14415912.6,
 89657934.0,
 38689804.9,
 168834140.2,
 13177424.4,
 24287814.4,
 33866515.885714285,
 18761216.5,
 131173311.3,
 71076954.7,
 93267150.6,
 110704838.4,
 25563391.2,
 35506035.1,
 108670875.2,
 168444644.6,
 25428082.3,
 10958267.1,
 66475846.6,
 36460035.7,
 95068971.6,
 70599569.4,
 22160134.9,
 84927509.8,
 61425031.3,
 51327090.36666667,
 26207098.0,
 34422561.4,
 111503146.0,
 18262409.6,
 23278786.0,
 193235843.9,
 53735671.0,
 13284930.066666666,
 41292483.96666667,
 55398383.8,
 56926207.9,
 73644485.6,
 8774755.6,
 77370232.3,
 45655251.6,
 41367425.3,
 57234462.9,
 212125820.1,
 46829686.2,
 41864906.46666667,
 46715760.0,
 68338079.9,
 161193591.6,
 20808780.7,
 4745007.7,
 40121140.18571429,
 105382406.2,
 158397728.08571428,
 56759058.8,
 15663712.6,
 22910236.8,
 242693492.9,
 83885571.6,
 21533048.4,
 49177788.1,
 101955279.86666666,
 91406846.3,
 29244719.6,
 85730958.46666667,
 29840633.4,
 14944339.966666669,
 41398394.5,
 66120586.7,
 186342536.6,
 215301637.5,
 17750686.666666664,
 116157230.6,
 14196592.6,
 48946334.1,
 44763876.3,
 76685836.0,
 13628962.6,
 27513928.0,
 56070936.6,
 24248510.9,
 71354203.9,
 18532492.6,
 62505005.0,
 46001733.6,
 62807641.6,
 88219173.96666667,
 37659478.4,
 48705216.7,
 81795701.6,
 21426021.2,
 50034749.6,
 53250071.3,
 84126344.7,
 130554365.0,
 54992299.2,
 197620105.6,
 38799455.58571429,
 21702843.9,
 3883744.4,
 45140065.5,
 107424497.7,
 88234014.7,
 23654412.8,
 52693574.5,
 183191486.7,
 38194805.3,
 14639056.4,
 32072018.8,
 41669637.6,
 24167249.1,
 46900820.3,
 2912876.5,
 137765424.2,
 106781715.76666667,
 38560043.1,
 20141905.0,
 135904164.3,
 33047410.6,
 59457839.9,
 340129319.7,
 29867721.3,
 178186537.1,
 93294702.3,
 65346774.5,
 57554571.2,
 173351602.3,
 35232009.0,
 476055493.0,
 74002147.75238095,
 54439413.5,
 17290283.285714287,
 49557061.2,
 27084674.5,
 64900535.4,
 39146077.4,
 67625180.2,
 33131863.2,
 40292672.2,
 54019035.8,
 126302142.3,
 46240251.9,
 57657530.8,
 47345224.1,
 7988064.4,
 92601362.0,
 26920134.5,
 2246538.0,
 37955353.06666667,
 99794171.7857143,
 25884882.1,
 12641129.6,
 52814746.0,
 125396814.7857143,
 3897535.9,
 171134637.1,
 57645786.8,
 5398414.5,
 2980498.7,
 13955854.5,
 117443427.7857143,
 982175550.0,
 228895164.8,
 88744673.3,
 33815984.3,
 12218095.8,
 17735463.9,
 34862977.6,
 12971291.3,
 207172823.26666668,
 17851964.6,
 185604581.4,
 86432306.6,
 35911447.36666667,
 113994809.0,
 52279114.4,
 65057357.6,
 40205833.2,
 126528030.8,
 31694048.7,
 23690341.3,
 15124839.5,
 134627804.9,
 36831874.3,
 86693541.4,
 70013618.9,
 26025095.6,
 42870334.3,
 51175302.4,
 78904799.3,
 72262657.1,
 34426239.1,
 389191551.6,
 2215279.866666666,
 8339686.2,
 19780324.666666664,
 45685035.78571428,
 31547741.6,
 103847933.3,
 63055034.3,
 96890154.4,
 13331517.9,
 42525524.9,
 68451388.1,
 47668427.2,
 87983359.4,
 89647321.8,
 85021948.0857143,
 39013294.8,
 39253395.0,
 86331863.1,
 71391684.5,
 41093652.2,
 42067602.6,
 83780145.7,
 10561128.1,
 47718483.6,
 16427233.3,
 28396114.5,
 63950126.2,
 24133440.7,
 155152247.9,
 46703350.7,
 120525288.1,
 96712027.8,
 97402840.9,
 33201018.9,
 17985998.0,
 14068469.6,
 71651372.7,
 59876561.6,
 7829823.3,
 24145197.1,
 60786599.5,
 44708915.766666666,
 56887068.7,
 5140597.3,
 20640761.566666666,
 154096941.4,
 23959017.266666666,
 4850705.5,
 63506940.9,
 48233569.6,
 107533553.9,
 9188196.8,
 19426698.7,
 80048747.0,
 56672649.1,
 83022456.3,
 50498770.9,
 82970577.1,
 176389560.6,
 115065177.8,
 45871509.5,
 84810043.2,
 132051828.9,
 246519864.7,
 101125877.26666667,
 54411137.06666666,
 83477794.6,
 22925312.4,
 106656693.7,
 86271692.1,
 28584039.6,
 63904579.8,
 108202777.6,
 357434415.0,
 88267976.7,
 153521268.4,
 25680754.4,
 14896910.0,
 293144217.0,
 310785404.9,
 41749027.1,
 50200157.7,
 59899931.7,
 28448274.4,
 57366585.58571428,
 18698035.785714287,
 22742335.7,
 148896230.5,
 83719492.5,
 130744970.4,
 46990966.1,
 15697647.3,
 45525545.2,
 42244043.9,
 68611447.3,
 38207780.0,
 62796066.56666666,
 167834816.6,
 214682818.1,
 80356589.3,
 184146756.8,
 173983693.1,
 49960608.1,
 79101423.6,
 357493844.8,
 122301201.4,
 68315322.6,
 160868154.8,
 80082928.7,
 44874529.4,
 36544170.8,
 78965029.5,
 90789832.6,
 25573355.8,
 80356342.6,
 34221631.1,
 118729760.4,
 60764535.7,
 29648862.0,
 138377113.4,
 392886988.3,
 39849317.18571429,
 38073274.48571429,
 19488395.7,
 25282810.3,
 6437475.0,
 50541756.6,
 43464484.9,
 69617403.7,
 56229084.5,
 9738250.5,
 172790371.2,
 147239962.8,
 176805543.8,
 51215741.55238096,
 179585526.3,
 39899012.5,
 199752324.1,
 43992097.7,
 5054581.4,
 24523936.5,
 29673088.2,
 325906508.0,
 84102788.4,
 40520964.8,
 99926209.88571429,
 35552258.6,
 30855344.8,
 7860655.1,
 85679329.3,
 177673617.1,
 58736610.88571429,
 198444985.7,
 67234151.1,
 39455568.5,
 172259585.65238097,
 56294127.0,
 108933718.5,
 89723760.4,
 48714501.4,
 45284912.4,
 39803413.7,
 82321274.0,
 40978307.2,
 269812857.9,
 17990161.0,
 52720888.8,
 36564119.4,
 28831373.2,
 1372231.1,
 63532855.1,
 66106587.7,
 15875195.685714286,
 52649022.1,
 112915409.66666667,
 97548252.7,
 29793640.9,
 59652449.366666675,
 195892581.7,
 49288802.6,
 40583660.98571429,
 103565846.3,
 16163907.566666666,
 12147129.8,
 32449743.06666667,
 143386833.6,
 209849040.6,
 48609353.4,
 172563569.3,
 94485484.5,
 56421230.2,
 34230867.1,
 151208132.46666667,
 33945779.8,
 76056465.46666667,
 6683061.9,
 23678182.466666665,
 117934524.1,
 36796881.9,
 49772200.16666667,
 119869704.9,
 58154012.2,
 26071068.785714287,
 18166934.1,
 30591881.2]

In [38]:
df_predictions = pd.DataFrame({'predictions_revenue':predictions})

In [41]:
final_test_predictions_df=pd.concat([x_test_df, df_predictions], axis=1)

In [49]:
final_test_predictions_df.to_csv('Output/final_test_predictions.csv')

In [51]:
# try:
#   final_test_predictions_df["variance"]=(final_test_predictions_df['predictions_revenue']-final_test_predictions_df['revenue']).div(final_test_predictions_df.revenue, axis=0)
# except ZeroDivisionError:
#   final_test_predictions_df["variance"]=1000

# final_test_predictions_df

,index,id,budget,revenue,popularity,original_title,overview,overview_sw,predictions_revenue,variance
0,3696,712,6000000,254700832,29.8341,Four Weddings and a Funeral,Four Weddings And A Funeral is a British comed...,four weddings funeral british comedy british m...,1.920573e+08,1000
1,2884,844,12000000,19271312,12.6648,2046,2046 is the sequel to Wong Kar-Wais’ successfu...,2046 sequel wong karwais successful boxoffice ...,8.755446e+06,1000
2,1723,218778,28000000,100654149,22.1459,"Alexander and the Terrible, Horrible, No Good,...",Alexander's day begins with gum stuck in his h...,alexanders day begins gum stuck hair followed ...,5.125416e+07,1000
3,2,206647,245000000,880674609,107.377,Spectre,A cryptic message from Bond’s past sends him o...,cryptic message bonds past sends trail uncover...,6.474600e+07,1000
4,4152,153795,7000000,0,4.50829,Straight A's,Pressured by his deceased mother's ghost to re...,pressured deceased mothers ghost return home f...,6.582768e+07,1000
5,973,10782,50000000,42792561,19.2268,Basic,A DEA agent investigates the disappearance of ...,dea agent investigates disappearance legendary...,7.493576e+07,1000
6,2997,321258,10000000,64188367,38.1795,The Boy,"A nanny, working for a family whose son has ju...",nanny working family whose son passed away fin...,6.292185e+05,1000
7,2377,127560,18000000,22309223,13.9166,The Railway Man,"A victim from World War II's ""Death Railway"" s...",victim world war iis death railway sets find r...,1.256565e+08,1000
8,4324,29697,0,0,0.147886,Faith Like Potatoes,Frank Rautenbach leads a strong cast as Angus ...,frank rautenbach leads strong cast angus bucha...,6.475629e+07,1000
9,3118,22805,0,0,10.9556,Motherhood,Motherhood is a comedy written and directed by...,motherhood comedy written directed katherine d...,3.796704e+07,1000
10,1358,817,33000000,310940086,18.3162,Austin Powers: The Spy Who Shagged Me,"When diabolical genius, Dr. Evil travels back ...",diabolical genius dr evil travels back time st...,6.499664e+07,1000
11,2621,19265,15000000,35097815,21.8574,Whatever Works,Whatever Works explores the relationship betwe...,whatever works explores relationship crotchety...,7.374938e+07,1000
12,3204,11588,8800000,0,3.78948,The I Inside,"Simon Cable wakes up in a hospital bed, confus...",simon cable wakes hospital bed confused disori...,1.726812e+07,1000
13,1335,259694,38000000,112343513,46.0784,How to Be Single,New York City is full of lonely hearts seeking...,new york city full lonely hearts seeking right...,6.374680e+07,1000
14,4723,299245,100000,42664410,18.0458,The Gallows,20 years after a horrific accident during a sm...,20 years horrific accident small town school p...,4.911669e+07,1000
15,3573,77,9000000,39723096,60.7152,Memento,Suffering short-term memory loss after a head ...,suffering shortterm memory loss head injury le...,1.168760e+08,1000
16,1112,711,43000000,80049764,19.0433,Finding Forrester,Gus van Sant tells the story of a young Africa...,gus van sant tells story young african america...,3.413264e+07,1000
17,1936,9067,25000000,4064495,8.18694,Tank Girl,"Based on the British cult comic-strip, our tan...",based british cult comicstrip tankriding antih...,2.825080e+08,1000
18,2252,32316,20000000,1675706,5.65327,Marci X,A Jewish-American Princess is forced to take c...,jewishamerican princess forced take control ha...,1.622729e+08,1000
19,1385,325133,35000000,108758521,50.1792,Neighbors 2: Sorority Rising,A sorority moves in next door to the home of M...,sorority moves next door home mac kelly radner...,2.533960e+07,1000
20,1597,307081,30000000,91709827,65.3645,Southpaw,"Billy ""The Great"" Hope, the reigning junior mi...",billy great hope reigning junior middleweight ...,6.511524e+07,1000
21,1231,64685,40000000,55247881,31.0669,Extremely Loud & Incredibly Close,"A year after his father's death, Oskar, a trou...",year fathers death oskar troubled young boy di...,5.834946e+07,1000
22,716,11128,60000000,74541707,10.9999,Ladder 49,"Under the watchful eye of his mentor, Captain ...",watchful eye mentor captain mike kennedy proba...,1.903746e+07,1000
23,1348,222936,37000000,26250020,29.6525,Aloha,A celebrated military contractor returns to th...,celebrated military contractor returns site gr...,2.685099e+08,1000
24,325,57800,95000000,877244782,65.2299,Ice Age: Continental Drift,"Manny, Diego, and Sid embark upon another adve...",manny diego sid embark upon another adventure ...,6.308971e+07,1000
25,1397,5516,0,0,23.6662,The Ladykillers,"An eccentric, if not charming Southern profess...",eccentric charming southern professor crew pos...,3.626008e+07,1000
26,1396,609,10700000,122200000,36.2302,Poltergeist,"Steve Freeling lives with his wife, Diane, and...",steve freeling lives wife diane three children...,6.407822e+07,1000
27,2204,6963,20000000,12482775,14.0314,The Weather Man,"A Chicago weather man, separated from his wife...",chicago weather man separated wife children de...,1.681486e+08,1000
28,640,9342,95000000,250288523,31.0868,The Mask of Zorro,It has been twenty years since Don Diego de la...,twenty years since diego de la vega fought spa...,4.959464e+07,1000
29,1579,59436,30000000,151119219,43.7536,Midnight in Paris,A romantic comedy about a family traveling to ...,romantic comedy family traveling french capita...,4.599532e+07,1000
...,...,...,...,...,...,...,...,...,...,...
931,2189,9582,20000000,17432163,5.59683,A Guy Thing,Paul Morse is a good guy. When his friends thr...,paul morse good guy friends throw wild bachelo...,9.754825e+07,1000
932,923,6877,50000000,88715192,18.806,Failure to Launch,"Tripp, an attractive man in his thirties, is s...",tripp attractive man thirties still living par...,2.979364e+07,1000
933,4789,39851,0,0,1.46457,Clean,"After losing her husband to a heroin overdose,...",losing husband heroin overdose emily wang figh...,5.965245e+07,1000
934,4280,27588,0,0,5.06575,Forget Me Not,"It's graduation weekend, and Sandy Channing, t...",graduation weekend sandy channing popular clas...,1.958926e+08,1000
935,1448,144336,35000000,17508518,27.904,Sabotage,"In ""Sabotage"", Arnold Schwarzenegger leads an ...",sabotage arnold schwarzenegger leads elite dea...,4.928880e+07,1000
936,3146,10306,10500000,14144000,11.225,Poltergeist III,Carol Anne has been sent to live with her Aunt...,carol anne sent live aunt uncle effort hide cl...,4.058366e+07,1000
937,3909,292,3000000,11718595,1.69785,Dave Chappelle's Block Party,The American comedian/actor delivers a story a...,american comedianactor delivers story alternat...,1.035658e+08,1000
938,317,76758,94000000,95311434,12.5165,金陵十三釵,A Westerner finds refuge with a group of women...,westerner finds refuge group women church japa...,1.616391e+07,1000
939,2366,848,18000000,14110013,3.25842,Dragonslayer,The sorcerer and his apprentice Galen are on a...,sorcerer apprentice galen mission kill evil dr...,1.214713e+07,1000
940,4724,985,10000,7000000,20.3996,Eraserhead,Henry Spencer tries to survive his industrial ...,henry spencer tries survive industrial environ...,3.244974e+07,1000
941,1018,2148,58000000,25928721,8.59075,The Cotton Club,The story of the people that frequented Harlem...,story people frequented harlems famous nightcl...,1.433868e+08,1000
942,1849,11283,25000000,122489822,24.3565,Nanny McPhee,Widower Cedric Brown (Colin Firth) hires Nanny...,widower cedric brown colin firth hires nanny m...,2.098490e+08,1000
943,943,9754,45000000,82800000,18.186,Firewall,"State-of-the-art security system creator, Jack...",stateoftheart security system creator jack sta...,4.860935e+07,1000
944,3187,12621,0,0,5.29336,Hamlet 2,"From the same people that brought you ""Little ...",people brought little miss sunshine hamlet 2 s...,1.725636e+08,1000
945,1165,196,40000000,244527583,45.7696,Back to the Future Part III,The final installment of the Back to the Futur...,final installment back future trilogy finds ma...,9.448548e+07,1000
946,4391,66195,0,14870,6.50709,The Perfect Host,A criminal on the run cons his way into the wr...,criminal run cons way wrong dinner party host ...,5.642123e+07,1000
947,2172,226857,20000000,34077920,27.2568,Endless Love,A privileged girl and a charismatic boy's inst...,privileged girl charismatic boys instant desir...,3.423087e+07,1000
948,3883,8469,2700000,141000000,17.3326,Animal House,"At a 1962 College, Dean Vernon Wormer is deter...",1962 college dean vernon wormer determined exp...,1.512081e+08,1000
949,2028,235260,22000000,67800064,9.17576,Son of God,The life story of Jesus is told from his humbl...,life story jesus told humble birth teachings c...,3.394578e+07,1000
950,4539,45649,500000,98017,9.10895,Rubber,"In the California desert, the adventures of a ...",california desert adventures telepathic killer...,7.605647e+07,1000
951,3466,10215,6000000,58000000,15.639,Sliding Doors,"Gwyneth Paltrow plays London publicist Helen, ...",gwyneth paltrow plays london publicist helen e...,6.683062e+06,1000
952,2445,79694,17000000,9627492,6.38523,The Apparition,Plagued by frightening occurrences in their ho...,plagued frightening occurrences home kelly ben...,2.367818e+07,1000
953,4159,21309,19000000,0,6.46381,River's Edge,A group of high school friends discover that t...,group high school friends discover presence ki...,1.179345e+08,1000
954,4005,8875,2600000,0,3.68757,Timber Falls,A weekend of camping in the mountains becomes ...,weekend camping mountains becomes excursion he...,3.679688e+07,1000
955,385,9836,100000000,384335608,37.2724,Happy Feet,"Into the world of the Emperor Penguins, who fi...",world emperor penguins find soul mates song pe...,4.977220e+07,1000
956,1217,39513,40000000,97552050,43.1513,Paul,"For the past 60 years, a space-traveling smart...",past 60 years spacetraveling smartass named pa...,1.198697e+08,1000
957,2640,400,8000000,529766,6.93222,Things to Do in Denver When You're Dead,A mafia film in Tarantino style with a star-st...,mafia film tarantino style starstudded cast ji...,5.815401e+07,1000
958,350,4327,92000000,264105545,40.2039,Charlie's Angels,Aspects of this take on the 1970s hit TV serie...,aspects take 1970s hit tv series similar origi...,2.607107e+07,1000
959,2065,81836,17000000,73244881,15.0134,To Rome with Love,Four tales unfold in the Eternal City: While v...,four tales unfold eternal city vacationing rom...,1.816693e+07,1000
960,2557,14047,15000000,30226144,10.8416,The Great Debaters,The true story of a brilliant but politically ...,true story brilliant politically radical debat...,3.059188e+07,1000

# Score the model

In [37]:
from sklearn.metrics import r2_score

#test_score = r2_score(y_test, predicted_test)

test_score = r2_score(y_test_df["revenue"], predictions)
test_score

#r2 = clf.score(X_test_scaled, )
#r2 = clf.score(X_test_scaled, y_test_scaled)

-0.34416183222211938

# Download model

In [34]:
from sklearn.externals import joblib
joblib.dump(clf, 'model.pkl')

['model.pkl']